.user_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
}

.options_container {
    display: flex;
    gap: 10px
}

.users_list_style {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.title_style {
    flex-direction: row;
    min-width: fit-content;
    max-width: fit-content;
}

.profile_container {
    display: flex;
    gap: 5px;
}