/* SIDE BAR_1 */

.profile_page_side_bar_main_container {
  width: 16%;
  border-right: 2px solid var(--gray_50505066);
}

.profile_images_container {
  width: 8rem;
  height: 8rem;
}

.profile_images {
  border-radius: 100%;
}

.side_bar_icon_text_button_container {
  flex-direction: row;
  justify-content: flex-start;
  min-width: 100%;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  padding: 5px 10px;
  gap: 5px;
}

/*  */

.colored_text {
  color: var(--red_FF2B2B);
}

.side_bar_profile_edit_button {
  flex-direction: row;
  gap: 5px;
  min-width: 70%;
  border: 3px solid var(--gray_50505066);
  border-radius: 10px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.side_bar_icon_text_button_container:hover {
  background-color: #9090903d;
}
