.home_window_main_container {
  display: flex;
  margin: 10px;
}

/* SIDE BAR (RELEASES - FILTERING - SETTINGS) */

.home_window_side_bar_main_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid var(--gray_50505066);
  margin-right: 5px;
  height: 100vh;
  overflow-y: auto;
}

.home_window_collapsed_side_bar_main_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.side_bar_tool_tip_container {
  transform: translateX(-30%);
}

/* RELEASES */

.add_button_main_container {
  margin-top: 20px;
  justify-content: flex-start;
  width: fit-content;
}

.add_button {
  flex-direction: row-reverse;
  border-radius: 10px;
  padding: 0 15px;
  gap: 10px;
}

.side_bar_releases_main_container {
  width: 95%;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--black_9696960d);
  border: 2px solid var(--gray_50505066);
}

.releases_horizontal_bar {
  border-color: var(--gray_777777);
}

/* FILTERING */

.side_bar_filterig_main_container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  gap: 10px;
}

.filterig_header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.filtering_button_main_container {
  width: 50%;
  padding: 0;
}

.filtering_button {
  border-radius: 10px;
  background-color: transparent;
}

.filtering_button:hover {
  background-color: var(--black_ffffff0d);
}

.filtering_button:active {
  background-color: var(--black_9696960d);
}

.active_button {
  border-radius: 10px;
  background-color: var(--black_ffffff0d);
}

.active_button:hover {
  border-radius: 10px;
  background-color: var(--black_ffffff0d);
}

.filterig_main_container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--gray_50505066);
}

.header_button_container {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 100%;
  margin: 15px 0;
}

.tag_text {
  cursor: pointer;
}

.filterig_container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 10px;
}

.tag_button_main_container {
  width: fit-content;
  padding: 0;
}

.tag_button {
  height: 25px;
  border-radius: 5px;
  background-color: var(--black_9696960d);
}

.tag_button:hover {
  background-color: var(--black_ffffff0d);
}

.tag_button:active {
  background-color: var(--black_9696960d);
}

/* SETTINGS */

.side_bar_settings_main_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings_container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 15px;
}

.setting_drop_down_container {
  min-width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.theme_drop_down_container {
  min-width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.theme_icon_container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  margin: 5px 0;
  gap: 5px;
}

.active_icon_button {
flex-direction: row-reverse;
  border-radius: 5px;
  background-color: var(--black_ffffff0d);
}

.logout_container {
  flex-direction: row;
}

.logout_text {
  color: var(--red_FF2B2B);
  cursor: pointer;
}

/* HEADER */

.list_header_container {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.header_buttons_container {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 10px;
}

.buttons_main_container {
  padding: 0;
  width: fit-content;
}

.buttons_style {
  flex-direction: row-reverse;
  background-color: transparent;
  border-radius: 10px;
}

.buttons_style:hover {
  background-color: var(--black_ffffff0d);
}

.buttons_style:active {
  background-color: var(--black_9696960d);
}

.header_results_container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.result_text {
  font-size: 14px;
}

.info_icon_button {
  height: 100%;
}

/* ACTIVE BUTTON */

.active_buttons_container {
  flex-direction: row-reverse;
  border-radius: 10px;
  background-color: var(--black_ffffff0d);
}

.active_buttons_container:hover {
  background-color: var(--black_ffffff0d);
}

/* LIST CONTAINER */

.home_window_list_main_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* LIST CARDS */

.list_second_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow-y: auto;
  padding: 0 10px;
}

.list_columns_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.icon_text_button_container {
  flex-direction: row;
  max-width: 100%;
  min-width: 20%;
  gap: 10px;
}

/* LIST PAGINATION */

.list_pagination_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.horizontal_line {
  border: none;
  height: 2px;
  background-color: var(--gray_50505066);
  width: 100%;
}

.previous_pagination_icon_text_container {
  flex-direction: row;
  gap: 5px;
}

.pagination_button_main_container {
  display: flex;
  gap: 10px;
  margin: 5px 0;
}

.pagination_button_container {
  width: fit-content;
  padding: 0 3px;
  background-color: transparent;
  border-radius: 3px;
}

.active_page {
  border-bottom: 1px solid #fff;
}

.next_pagination_icon_text_container {
  flex-direction: row-reverse;
  gap: 5px;
}