.new_bug_report_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon_buttons_container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid var(--gray_50505066);
}

.icon_buttons {
  display: flex;
  padding: 10px 20px;
  width: 100%;
}

.icons {
  margin: 0 10px;
}

.icon_button {
  background-color: var(--gray_50505066);
  border-radius: 5px;
}

.icons_2 {
  margin: 0 10px;
}

.options_container {
  display: flex;
  gap: 5rem;
}

.option_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown_button_container {
  border: 1px solid var(--gray_50505066);
  border-radius: 5px;
  padding: 5px 10px;
}

.dropdown_menu_container {
  left: 0;
  width: fit-content;
}

.check_box_container {
  display: flex;
  align-items: center;
}

.solid_button_container {
  width: 100%;
  justify-content: center;
}

.solid_button {
  padding: 0 5rem;
}
