/* OPTION */

.solid_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  border-radius: 10px;
  padding: 0 10px;
  height: 35px;
  background-color: var(--green_039000);
  transition: background-color 0.5s ease;
}

.solid_button_container:hover {
  background-color: var(--green_026c00);
}

.contrib_label10_style {
  color: var(--white_ffffff);
  font-weight: 500;
  cursor: pointer;
}

.contrib_label16_style {
  cursor: pointer;
}

.options_img_container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 0 10px;
}

.contrib_img_container {
  position: relative;
  margin-left: -9px;
  width: 15px;
  height: 15px;
}

.contrib_img {
  border-radius: 15px;
}

/* DROP-DOWN */
.header_option_menu {
  width: 30rem;
  padding: 20px;
}