/* PROFILE */

.header_profile_container {
  display: flex;
  align-items: center;
  width: 11rem;
}

.profile_container {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.follow_label12_style {
  color: var(--green_039000);
}
