.comment_section {
  width: 100%;
  background-color: var(--black_232526);
  padding: 10px;
}

.comment_header_drop_down_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 15px 0;
}

.comments_content_container {
  height: 25rem;
  overflow-y: auto;
}

.comment_input_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment_input {
  border-radius: 5px 0 0 5px;
}

.comment_send_button_container {
  background-color: var(--gray_50505066);
  height: 2.85rem;
  padding: 0 10px;
  border-radius: 0 5px 5px 0;
  border: 0.5px solid var(--gray_50505066);
}

.load_more_button {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  width: fit-content;
  color: var(--white_ffffff);
  transition: color 0.3s ease;
}

.load_more_button:hover {
  background-color: transparent;
  color: var(--white_afafaf);
}
