/* POTENTIAL BUG FIXES */

.recommendation_main_container {
  display: flex;
  flex-direction: column;
}

.recommendation_potentials_title_container {
}

.recommendation_potentials_content_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.content_button_container {
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  border-radius: 20px;
  color: var(--white_ffffff);
  transition: color 0.3s ease;
}

.content_button_container:hover {
  background-color: transparent;
  color: var(--white_afafaf);
}

.content_button_container:active {
  color: var(--white_ffffff);
}
