/* HEADER SECTION (PROFILE - OPTION) */

.home_card_header_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}

.home_card {
  /* width: 100%; */
  background-color: var(--black_333333f1);
  padding: 15px;
  border-radius: 7px;
}

.bug_report {
  border-bottom: 1px solid var(--lightRed_);
}

.bug_fix {
  border-bottom: 1px solid var(--green_026c00);
}

.reusable_code {
  border-bottom: 1px solid var(--orange_ff7811);
}

.overlay {
  min-width: 30rem !important;
  min-height: 20rem !important;
}

.overlay_child{
  align-items: start;
}

.overlay_button_container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5rem;
}

/* OPTION */

.header_options_container {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  
}

/* BODY */

.home_card_body_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  
}

.body_paragraph_text {
  text-align: start;
  color: white;
}

.more_button {
  flex-direction: row;
  min-width: fit-content;
  justify-content: flex-start;
}

/* FOOTER (TAGS - REACTIONS) */

.home_card_footer_container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.timestamp_container {
  width: 100%;
}


/* TAGS */

.timestamp_container {
  display: flex;
  justify-content: flex-end;
}

.footer_main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer_tag_container {
  display: flex;
  align-items: center;
  width: 100%;
}

/* REACTIONS */

.footer_reaction_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5px;
  gap: 10px;
}

.reaction_icon_text_button_container {
  flex-direction: row-reverse;
  padding: 2px;
}

.reaction_label12_style {
  cursor: pointer;
}

