.fixedNavbar {
  display: flex;
  width: 100%;
  height: fit-content;
}

.container {
  min-height: 3rem;
}

.navbar_collapse_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5px;
  gap: 15px;
}

.toggle {
  background-color: #ffffff20;
  border-radius: 10px;
  font-size: 15px;
  transition: background-color 0.4s ease;
}

.toggle:hover {
  background-color: #ffffff32;
}

.nav_link_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.brand_style {
  color: #fff;
  transition: color 0.3s ease;
}

.brand_style:hover {
  color: #c2c2c2;
}

.brand_style:visited {
  color: #fff;
}

.link_style {
  color: #fff;
  transition: color 0.3s ease;
}

.link_style:hover {
  color: #c2c2c2;
}

.nav_item {
  padding: 0 10px;
}

.nav_link {
  text-decoration: none;
 
}

.label14Style {
  cursor: pointer;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.auth_button_main_container {
  padding: 0 10px;
}

.auth_button_container {
  padding: 0 40px !important;
}