.nav_main_container {
  border-radius: 10px;
  background-color: #a1a1a13d;
  margin: 0 10px;
  padding: 10px 20px;
}

/* + NEW BUTTON */

.new_button_main_container {
  width: fit-content;
  padding: 0;
}

.new_button_container {
  /* width: 100%; */
  background-color: var(--blue_00789C80);
  border-radius: 5px;
  padding: 6px 25px;
}

.create_drop_down_menu {
  left: 0px;
  width: 11rem;
}

.new_button {
  flex-direction: row-reverse;
  padding: 0 25px;
  border-radius: 10px;
  gap: 7px;
}

.icon_button {
  max-width: 100%;
  min-width: 100%;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px 0;
}

/* DROP DOWN OPTIONS (NEW - ASSIGNED BUG - INBOX - NOTIFICATION - ADJUST)  */

.dorp_down_menu {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header_option_button {
  flex-direction: column;
}

.header_option_menu {
  padding: 20px;
}

.header_option_menu2 {
  width: 40rem;
}

.assigned_bug_menu {
  width: 30rem;
  left: -80px;
}

.inbox_menu {
  width: 30rem;
  left: -12rem;
}

.notification_menu {
  width: 30rem;
  left: -15.7rem;
}

.adjust_menu {
  width: 30rem;
  left: -22.5rem;
}

/* NEW */
.create_drop_down_menu {
  width: 11rem;
}

/* INBOX */

/* NOTIFICATION */

/* ADJUST */
