:root  {
    --black_000000: #000000;
    --black_232526: #232526;
    --black_333333e0: #333333e0;
    --black_333333f1: #333333f1;
    --black_ffffff0d: #ffffff0d;
    --black_9696960d: #9696960d;
    --black_3333: #3333;
    --transparent_00000080: #00000080;
    --white_ffffff: #ffffff;
    --white_afafaf: #afafaf;
    --withe_ffffff08: #ffffff08;
    --gray_777777: #777777;
    --gray_50505066: #50505066;
    --green_05FF00: #05FF00;
    --green_039000: #039000;
    --green_02900036: #02900036;
    --green_026c00: #026c00;
    --darkGreen_: #017110;
    --green_025E00: #025000;
    --lightGreen_: #efffe4;
    --orange_FF8A00: #FF8A00;
    --orange_ff7811: #ff7811;
    --orangeTransparent_: #ff78112f;
    --transparentOrange_: #e8670410;
    --red_: #ff0000;
    --red_FF2B2B: #FF2B2B;
    --lightRed_: #ff4b4b;
    --darkPurple_: #9b029b;
    --purple_c800c8: #c800c8;
    --pink_: #fe8c8c;
    --lightPink_: #feeded;
    --yellow_: #ffd900;
    --yellow_ADB100: #ADB100;
    --lightYellow_: #ffcd62;
    --lightYellow_2: #fff1db;
    --darkModeText_: #c5c5c5;
    --blue_11323C: #11323C;
    --semi_transparent_blue_11323C: #11323c1d;
    --blue_163641: #163641;
    --blue_00789C80: #00789C80;
    --blue_0075FF: #0075FF;
    --blue_2a8eff: #2a8eff;
}
