:root {
  --black_000000: #000000;
  --black_232526: #232526;
  --black_333333e0: #333333e0;
  --black_333333f1: #333333f1;
  --black_ffffff0d: #ffffff0d;
  --black_9696960d: #9696960d;
  --black_3333: #3333;
  --transparent_00000080: #00000080;
  --white_ffffff: #ffffff;
  --white_afafaf: #afafaf;
  --white_616161f4: #616161f4;
  --withe_ffffff08: #ffffff08;
  --gray_777777: #777777;
  /* SILVER */
  --silver_b2c1c0: #b2c1c0;
  --silver_b2c1c063: #b2c1c013;
  /*  */
  --gray_50505066: #50505066;
  --green_05FF00: #05ff00;
  --green_039000: #039000;
  --green_02900036: #02900036;
  --green_026c00: #026c00;
  --darkGreen_: #017110;
  --green_025E00: #025000;
  --lightGreen_: #efffe4;
  --orange_FF8A00: #ff8a00;
  --orange_ff7811: #ff7811;
  --orange_954100: #954100;
  /* BRONZE */
  --orange_d3976e: #d3976e;
  --orange_d3966e52: #d3966e10;
  /*  */
  --orangeTransparent_: #ff78112f;
  --transparentOrange_: #e8670410;
  --red_: #ff0000;
  --red_FF2B2B: #ff2b2b;
  --red_c51b1b: #c51b1b;
  --red_ff2b2b57: #ff2b2b0d;
  --lightRed_: #ff4b4b;
  --darkPurple_: #9b029b;
  --purple_c800c8: #c800c8;
  --pink_: #fe8c8c;
  --lightPink_: #feeded;
  --yellow_: #ffd900;
  --yellow_ffd90053: #ffd90006;
  /* Gold */
  --yellow_ffce31: #ffce31;
  --yellow_ffcf3155: #ffcf310f;
  /*  */
  --yellow_ADB100: #adb100;
  --lightYellow_: #ffcd62;
  --lightYellow_2: #fff1db;
  --darkModeText_: #c5c5c5;
  --blue_11323C: #11323c;
  --semi_transparent_blue_11323C: #11323c1d;
  --blue_163641: #163641;
  --blue_00789C80: #00789c80;
  --blue_0075FF: #0075ff;
  --blue_0077ff5a: #0077ff0c;
  --blue_2a8eff: #2a8eff;
}
