.side_bar_main_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-right: 2px solid var(--gray_50505066);
  padding: 10px 30px 5px 5px;
  height: 100vh;
  overflow-y: auto;
}

.side_bar_header_container {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  background-color: transparent;
  margin: 10px 0;
}

.side_bar_header_container:hover {
  background-color: transparent;
}

.side_bar_image_container {
  width: 50px;
  height: 50px;
}

.side_bar_image {
  border-radius: 100%;
}

.side_bar_content_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.side_bar_icon_text_button {
  flex-direction: row;
  justify-content: flex-start;
  padding: 7px;
  border-radius: 10px;
  gap: 7px;
  min-width: 100%;
}

.side_bar_icon_text_button:hover {
  background-color: var(--black_333333f1);
}

/* SIDE BAR_2 */
.profile_page_side_bar_main_container_2 {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  overflow: auto;
  white-space: nowrap;
}

.side_bar_icon_text_button_container_2 {
  flex-direction: row;
  max-width: 100%;
  min-width: fit-content;
  padding: 10px 20px;
}

.side_bar_icon_text_button_container_active_2 {
  border-bottom: 1px solid var(--gray_50505066);
}
