.footer_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px 30px;
}

.horizontal_line {
  border: none;
  height: 2px;
  background-color: var(--gray_50505066);
  width: 95%;
}

.footer_header_container {
    width: 100%;
    justify-content: flex-start;
}

.footer_header {
    color: var(--white_ffffff);
}

.footer_links_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer_link {
  color: var(--white_ffffff);
  transition: color 0.3s ease;
}

.footer_link:hover {
    color: var(--white_afafaf);
  }

.footer_icon_button_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
