/* SIDE BAR (RELEASES - FILTERING - SETTINGS) */

.side_bar_tool_tip_container {
  transform: translateX(-30%);
}

/* RELEASES */

.create_menu_container {
  width: 12rem;
  margin-right: 10px;
}

.create_menu_container_2 {
  width: 12rem;
  margin-right: 10px;
  left: 0;
}

.add_button_main_container {
  margin-top: 20px;
  justify-content: flex-start;
  width: 100%;
}

.add_button {
  flex-direction: row-reverse;
  border-radius: 10px;
  padding: 0 15px;
  gap: 10px;
}

.side_bar_releases_main_container {
  width: 95%;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--black_9696960d);
  border: 2px solid var(--gray_50505066);
}

.releases_horizontal_bar {
  border-color: var(--gray_777777);
}

/* FILTERING */

.side_bar_filterig_main_container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: fit-content;
  gap: 10px;
}

.filterig_header_container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.filtering_button_main_container {
  width: 50%;
  padding: 0;
}

.filtering_button {
  border-radius: 10px;
  background-color: transparent;
}

.filtering_button:hover {
  background-color: var(--black_ffffff0d);
}

.filtering_button:active {
  background-color: var(--black_9696960d);
}

.active_button {
  border-radius: 10px;
  background-color: var(--black_ffffff0d);
}

.active_button:hover {
  border-radius: 10px;
  background-color: var(--black_ffffff0d);
}

.filterig_main_container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid var(--gray_50505066);
}

.header_button_container {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 100%;
  margin: 15px 0;
}

.tag_text {
  cursor: pointer;
}

.filterig_container {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 10px;
}

.tag_button_main_container {
  width: fit-content;
  padding: 0;
}

.tag_button {
  height: 25px;
  border-radius: 5px;
  background-color: var(--black_9696960d);
}

.tag_button:hover {
  background-color: var(--black_ffffff0d);
}

.tag_button:active {
  background-color: var(--black_9696960d);
}

/* SETTINGS */

.side_bar_settings_main_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settings_container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 15px;
}

.setting_drop_down_container {
  min-width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.theme_drop_down_container {
  min-width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.theme_icon_container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  margin: 5px 0;
  gap: 5px;
}

.active_icon_button {
  flex-direction: row-reverse;
  border-radius: 5px;
  background-color: var(--black_ffffff0d);
}

.more_settings_container {
  flex-direction: row;
  min-width: fit-content;
}

.more_settings_text {
  cursor: pointer;
}

.logout_container {
  flex-direction: row;
  margin-top: 20px;
}

.logout_text {
  color: var(--red_FF2B2B);
  cursor: pointer;
}
