.overlay_container {
}

.outline_button_container {
  display: flex;
}

.outline_button_second_container {
  min-width: 100%;
}

.outline_button {
  border: 0;
  min-width: 100%;
  border-radius: 10px;
  background-color: transparent;
  align-items: flex-start;
}

.outline_button:hover {
  border: 0;
}

.active_outline_button {
  border-bottom: 2px solid #fff;
}

.active_outline_button:hover {
  border-bottom: 2px solid #fff;
}
