/* USER GENERAL INFO */
.general_user_info_content_overview_main_container {
    padding: 0 10px;
}

/* OVERVIEW (USER INFO - BIO - TREND - BUG REPORT - BUG FIX - REUSABLE CODE ) */

/* USER INFO */

.content_user_info_overview_main_container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.user_info_full_name_overview_main_container {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  width: 40%;
  gap: 15px;
  height: fit-content;
}

.full_name_overview_container {
  display: flex;
  gap: 5px;
}

.full_name_overview_icon_text_button_container {
  display: flex;
}

.button_text {
  cursor: pointer;
  color: var(--white_ffffff);
}

.full_name_icon_text_button_overview {
  flex-direction: row;
  min-width: fit-content;
  margin: 0 5px;
  border-radius: 5px;
}

/* START ///////////////////////////////////////// */

.admin_bg {
  background-color: var(--green_039000);
}

.user_bg {
  background-color: var(--orange_ff7811);
}

.gold_bg {
  background-color: #ffd700;
}

.silver_bg {
  background-color: #c0c0c0;
}

.bronze_bg {
  background-color: #cd7f324d;
}

.novice_bg {
  background-color: #3771c8;
}

.itermediate_bg {
  background-color: #c8b937;
}

.advance_bg {
  background-color: #c83737;
}

.expert_bg {
  background-color: #c83737;
}

/* END ///////////////////////////////// */

.full_info_popularity_overview_main_container {
  display: flex;
  width: 60%;
}

.popularity_overview_container {
  display: flex;
  width: 33.33%;
  align-items: center;
  justify-content: center;
}

.popularity_overview_button_container {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: fit-content;
  gap: 20px;
}

.popularity_text_overview {
  cursor: pointer;
}

.popularity_overview_button_container:hover {
  background-color: transparent;
}

.popularity_button_overview_container {
  display: flex;
  align-items: center;
}

/* BIO */

.content_user_bio_main_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 50px 0;
}

.bio_contact_container {
  display: flex;
  width: 100%;
  gap: 4px;
}

.contact_social_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background: var(--black_ffffff0d);
}

.social_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_icon_text_button_container {
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.contact_tel_container {
}

.tel_container {
}

.bio_container {
  padding: 20px;
  border-radius: 5px;
  background: var(--black_ffffff0d);
}

/* TREND - BUG REPORT - BUG FIX - REUSABLE CODE */

.content_user_post_overview_main_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user_post_overview_container {
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.post_card_overview_main_container {
  display: flex;
  margin: 10px 0;
}

/* TREND -  */

/* BUG REPORT */

/* BUG FIX */

/* REUSABLE CODE */
