@import './constants/colors.css';

body {
  margin: 0;
  padding: 0;
  background-color: #232526;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Customizing the width of the vertical scrollbar and height of the horizontal scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Vertical scrollbar width */
  height: 3px; /* Horizontal scrollbar height */
}

/* Customizing the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Customizing the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Customizing the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
