.account_settings_main_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.account_delete_main_container {
  border: 2px solid var(--gray_50505066);
  border-radius: 10px;
  background-color: var(--red_ff2b2b57);
  padding: 20px;
}

.account_settings_container {
}

.solid_button_container {
  margin-bottom: 10px;
}

.solid_delete_button_container {
  background-color: var(--red_FF2B2B);
}

.solid_delete_button_container:hover {
  background-color: var(--red_FF2B2B);
}

/* OVERLAY */

.overlay_root_container {
  min-width: 40% !important;
  min-height: 30% !important;
}

.overlay_main_container {
  align-items: center;
  justify-content: center;
}
.overlay_content_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.overlay_button_container {
  display: flex;
  justify-content: center;
  gap: 7rem;
}
