.appearance_main_container {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

/* HEADER */

.title_container {
}

/* CARDVIEW */
.card_main_container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.card_container {
}

.button_container {
  width: fit-content;
  padding: 0;
  border-radius: 10px;
}

.card {
  width: 300px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray_50505066);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.icon_text {
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin-bottom: 10px;
}

.line {
  height: 10px;
  background-color: gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.long {
  width: 200px;
}

.short {
  width: 100px;
}

.rectangle {
  width: 250px;
  height: 50px;
  background-color: gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.small {
  width: 150px;
}

/* DROPDOWN */

.dropdown_main_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown_container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 5px;
}

.dropdown_button_container {
  min-width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--gray_50505066);
}

.dropdown_menu_container {
  left: 0;
  width: 12rem;
}
