/* GENERAL */

.button_text {
  cursor: pointer;
}

/* PLANE BUTTON */

.plane_button_main_container {
  display: flex;
  width: fit-content;
  background-color: transparent;
  border: none;
  margin: 10px 5px;
}

.button_text {
  cursor: pointer;
}

/* BUTTON CONTAINER */

.button_container_main_container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black_9696960d);
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: background-color 0.3s ease;
  gap: 5px;
}

.button_container_main_container:hover {
  background-color: var(--black_ffffff0d);
}

/* SOLID BUTTON */
.solid_button_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.solid_button {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--blue_11323C);
  border-radius: 7px;
  border: none;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
}

.solid_button:hover {
  background-color: var(--blue_163641);
}

.solid_button:active {
  background-color: var(--blue_11323C);
}

/* OUTLINED BUTTON */

.outlined_button_container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.outlined_button {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--semi_transparent_blue_11323C);
  border: 3px solid var(--blue_11323C);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.outlined_button:hover {
  border: 3px solid var(--blue_163641);
}

.outlined_button:active {
  border: 3px solid var(--blue_11323C);
}

/* ICON BUTTON */

.icon_button_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  padding: 0px 5px;
}

/* ICON TEXT BUTTON */

.icon_text_button_container {
  max-width: 30%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
  border: none;
  gap: 5px;
  padding: 0px 5px;
}

/* IMAGE BUTTON */

.image_button_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  padding: 0px 5px;
}

.image_container {
  width: 15px;
  height: 15px;
}

/* IMAGE TEXT BUTTON */

.image_text_button_container {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  padding: 0px 5px;
}

.image_text_container {
  width: 15px;
  height: 15px;
}

.image_text {
}

/* DROP DOWN */

.drop_down_button_main_container {
}

.drop_down_button {
  background-color: transparent;
  border: none;
  color: var(--white_ffffff);
}

.drop_down_button:hover {
  background-color: transparent;
  color: var(--white_afafaf);
}

.drop_down_button:active {
  background-color: transparent;
  color: var(--white_ffffff);
}

.drop_down_list_container {
  background-color: var(--gray_50505066);
}

.drop_down_item {
  color: var(--white_ffffff);
}

/* DROP DOWN MENU */

.dropdown_menu_container {
  position: relative;
  display: inline-block;
}

.dropdown_toggle {
  display: flex;
  flex-direction: row-reverse;
  min-width: 100%;
  background: none;
}

.dropdown_menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--black_333333f1);
  box-shadow: 0 2px 5px #00000083;
  border-radius: 10px;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 16rem;
}

.drop_down_item_link {
  flex-direction: row;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 3px 0;
  min-width: 100%;
}

.drop_down_item_link:hover {
  background-color: var(--gray_50505066);
}
