/* HR */
.line_main {
  border: none;
  height: 2px;
  background-color: var(--gray_50505066);
  width: 100%;
}

.vertical_line {
  transform: rotate(90deg);
  background-color: var(--gray_50505066);
  border: none;
  height: 2px;
  width: 100%;
}
