/* HR */
.line_main {
  border: none;
  height: 2px;
  background-color: var(--gray_50505066);
  width: 100%;
}

.vertical_line {
  background-color: var(--gray_50505066);
  border: none;
  /* height: 100px; */
  width: 300px;
}
