/* HORIZONTAL SCROLLVIEW */
.horizontal_scroll_view_container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  overflow: auto;
  white-space: nowrap;
}

.side_bar_icon_text_button_container_2 {
  flex-direction: row;
  max-width: 100%;
  min-width: fit-content;
  padding: 10px 20px;
}

.side_bar_icon_text_button_container_active_2 {
  border-bottom: 1px solid var(--gray_50505066);
}

/* VERTICAL SCROLLVIEW */

.vertical_scroll_view_container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-width: 13%;
  border-right: 2px solid var(--gray_50505066);
  padding: 10px 30px 5px 5px;
  height: 100vh;
  overflow-y: auto;
  gap: 10px;
}


