.sign_in_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sign_in_button_container {
  margin-top: 2rem;
}

.forgot_password_container {
  margin: 10px 0 0 5px;
}

.checkbox_container {
  display: flex;
  align-items: center;
}
