.sign_up_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.steps_container {
  margin-top: 1rem;
}

.checkbox_container {
  margin-top: 1rem;
}

/* SIGN UP BUTTON */

.sign_up_button_container {
  margin-top: 2rem;
}
