.signInForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sign_in_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.sign_in_button_container {
  justify-content: center;
}

.sign_in_button {
  width: 20rem;
}

.forgot_password_container {
  margin: 10px 0 0 5px;
}

.checkbox_container {
  display: flex;
  align-items: center;
}
