.broadcast_main_container {
    display: flex;
    align-items: flex-start;
    background: var(--black_9696960d);
    padding: 10px 15px;
}

.cancel_button_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}